:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.125rem;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg_s);
}

main {
  width: 700px;
  max-width: 100%;
  padding: 0 20px;
}


h1 {
  font-weight: normal;
  color: var(--red);
}

h2 {
  font-weight: normal;
  color: var(--green);
}

p {
  color: var(--fg);
}

span {
  color: var(--fg);
}
